<app-header></app-header>

<div *ngIf="Profil === 'Client'">
    <section class="our-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Bonjour {{Nom}}! Visitez les restaurants</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <input type="text" id="login" class="fadeIn second"  placeholder="Rechercher un restaurant">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" *ngFor="let item of DataRestaurant">
                    <div class="card mt-5">
                        <div class="card-body">
                          <h5 class="card-title">{{"Restaurant "+item.Pseudo}}</h5>
                          <p class="card-text"></p>
                          <a (click)="goRestaurant(item.Pseudo)" class="card-link">Visiter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div *ngIf="Profil === 'Livreur'">
    <section class="our-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Bonjour {{Nom}}! Livrez les commandes des clients</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" *ngFor="let item of DataCommande">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{item.restaurant}}</h5>
                          <p class="card-text">{{item.livraison}}</p>
                          <a href="#" class="card-link">Livrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div *ngIf="Profil === 'Responsable E-kaly'">
    <section class="our-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Bonjour {{Nom}}! Controlez le site</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" >
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Gerer les restaurants</h5>
                          <p class="card-text">Voir les restaurants</p>
                          <!-- liste des restos + total commande -->
                          <a href="#" class="card-link">Voir</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Gerer les utilisateurs</h5>
                          <p class="card-text">Voir et ajouter des utilisateurs</p>
                          <a href="profil" class="card-link">Voir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div *ngIf="Profil === 'Restaurant'">
    <section class="our-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Bonjour {{Nom}}! Controlez les commandes et les plats</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" >
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Gerer les commandes</h5>
                          <p class="card-text">Consultez les commandes de nos clients et nos statistiques</p>
                          <a (click)="goCommande(Pseudo)" class="card-link">Voir</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Gerer les plats</h5>
                          <p class="card-text">Ajoutez et consultez vos plats</p>
                          <a (click)="goPlat(Pseudo)" class="card-link">Voir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
