<div class="header">
    <div class="container">
        <a href="#" class="navbar-brand scroll-top">E-kaly.com</a>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="nav-header">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link " href="/accueil">Accueil</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link " href="#">Nos menus</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">Se d&eacute;connecter</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>