<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="inactive underlineHover"><a href="login">Connexion</a></h2>
      <h2 class="active">Inscription</h2>
  
      <form>
        <input type="text" id="login" class="fadeIn second" name="Nom" placeholder="Nom d'utilisateur">
        <input type="text" id="login" class="fadeIn second" name="Pseudo" placeholder="Surnom">
        <input type="date" id="login" class="fadeIn second" name="DateNaissance" placeholder="Date de naissance">
        <label for="" style="margin-top:2px;margin-bottom: 3px">Type de profil</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Profil" value="Livreur">
            <label class="form-check-label">Livreur</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Profil" value="Client">
            <label class="form-check-label">Client</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Profil" value="Restaurant">
            <label class="form-check-label">Restaurant</label>
        </div>
        <input type="text" id="login" class="fadeIn second" name="Mail" placeholder="Adresse e-mail">
        <input type="password" id="password" class="fadeIn third" name="MotDePasse" placeholder="Mot de passe">
        <input type="submit" class="fadeIn fourth" value="S'inscrire">
      </form>
  
    </div>
</div>