<app-header></app-header>

<section class="our-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Commandez vos plats</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-8">
                <p style="color:red;text-align: center;">{{error_msg}}</p>
                <input type="text" [(ngModel)]="Livraison" [ngModelOptions]="{standalone: true}" placeholder="Lieu de livraison">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6" *ngFor="let item of Data;let id = index">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{item.NomPlat +" - "+ item.Prix +" Ariary"}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{item.NomCategorie}}</h6>
                      <p class="card-text">{{item.Description}}</p>
                      <button class="btn btn-outline-primary" (click)="removeSelection(id)">-</button>
                      <input type="number" class="fadeIn second" [(ngModel)]="item.Quantite" [ngModelOptions]="{standalone: true}"  placeholder="Quantite">
                      <!-- <a  class="card-link btn btn-outline-primary ml-3" (click)="getSelection(id)">Ajouter</a> -->
                      <button class="btn btn-outline-primary" (click)="addSelection(id)">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-5"></div>
            <div class="col-md-2" style="margin-left: 60px">
                <button class="btn btn-outline-primary" (click)="getSelection()">Valider</button>
            </div>
            <!-- <div class="col-md-4"></div> -->
        </div>
    </div>
</section>
<!-- mamorona tableau dynamique genre panier -->
<app-footer></app-footer>