<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active">Ajouter un nouvel utilisateur</h2>
      <form>
        <p style="color:red">{{error_msg}}</p>
        <input type="text" id="login" class="fadeIn second"  placeholder="Nom et prenom">
        <input type="text" id="login" class="fadeIn second"  placeholder="Pseudo">
        <input type="date" id="login" class="fadeIn second"  placeholder="Date de naissance">
        <label for="" style="margin-top:2px;margin-bottom: 3px">Type de profil</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"  value="Livreur">
            <label class="form-check-label">Livreur</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="Restaurant">
            <label class="form-check-label">Restaurant</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" value="Responsable E-Kaly">
          <label class="form-check-label">Responsable E-Kaly</label>
      </div>
        <input type="mail" id="login" class="fadeIn second"  placeholder="Adresse e-mail">
        <input type="password" id="password" class="fadeIn third" placeholder="Mot de passe">
        <input type="submit" class="fadeIn fourth" value="Ajouter" >
      </form>
  
    </div>
</div>